<div class="help-background-image text_against_image">
  <%= render "layouts/help" %>
  <div class="container">
    <div class="container discription-container">
      <div class="row">
        <div class="col-md-4">
          <div class="discription-img-container">
            <%= image_tag '成果報告.png', class: 'discription-img' %>
          </div>
          <h2>頑張りを共有する</h2>
          <p>取組みや成果を投稿することで、Connectの皆さんと頑張りを共有できます。</p>
        </div>
        <div class="col-md-4">
          <div class="discription-img-container">
            <%= image_tag 'モチベーション.png', class: 'discription-img' %>
          </div>
          <h2>モチベーションUP</h2>
          <p>頑張りに対してコメントやいいねをもらうことでモチベーションが上がります。</p>
        </div>
        <div class="col-md-4">
          <div class="discription-img-container">
            <%= image_tag '積み上げ.png', class: 'discription-img' %>
          </div>
          <h2>日々の積み上げを記録する</h2>
          <p>頑張りを投稿することで、後からでも振り返ることができます。</p>
        </div>
      </div>
    </div>
  </div>
</div>