<% provide(:url, user_path(@user)) %>
<% provide(:button_text, "変更を保存する") %>

<div class="row">
  <h1 class="underline-common col-md-offset-5">ユーザー編集</h1>
  <br>
</div>

<h1 class="col-md-offset-5">
    <% if @user.image? %>
        <%= image_tag @user.image.url, :size =>'100x100'  %>
    <% else %>
        <%= image_tag "default.jpg", :size =>'100x100' %>
    <% end %>
    <%= @user.name %>
</h1>

<%= render "layouts/form" %>