<% provide(:url, signup_path) %>
<% provide(:button_text, "ユーザーを登録する") %>

<h1>ユーザー登録</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%= render "layouts/form" %>

<script type="text/javascript">
  $('#user_image').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>