<div class="error_explanation">
  <% if object.errors.any? %>
    <div class="alert alert-danger">
      <p>このフォームには<%= object.errors.count %>つの誤りがあります</p>
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </ul>
  <% end %>
</div>