@import "bootstrap-sprockets";
@import "bootstrap";

/* トップページの背景画像 */
.home-background-image {
  background-image: url(home.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  z-index: 0;
}

.home-background-image::before {
  content: '';
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background: inherit;
  z-index: -1;
}

/* サイト説明の背景画像 */
.help-background-image {
  background-image: url(water.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  z-index: 0;
}

.help-background-image::before {
  content: '';
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background: inherit;
  z-index: -1;
}

/* 文字の加工 */
.font-size-26px {
  font-size: 26px;
}

.text_against_image{
  text-shadow: 0 0 10px #333;
  color: #ffffff;
}

.discription-container {
  margin: 3rem 0;
  padding: 3rem 1rem;
  h2 {
  text-align: center;
  }
}

.discription-img-container {
  margin-bottom: 3rem;
  text-align: center;
}

.discription-img {
  width: 12rem;
  border-radius: 0.1rem;
}

/*  ボタンの幅 */
.w-25 {
  width: 25%;
}

.form-size-lg {
  width: 1000px;
  height: 40px;
}

.button-size-lg {
  width: 1000px;
  height: 40px;
}
    
/*  下線 */
.underline-common {
  border-bottom: double 6px #ff7f50;
  width: 230px;
}

.underline-timeline {
  border-bottom: double 6px #ff7f50;
  width: 150px;
}

.underline-mypage {
  border-bottom: double 6px #ff7f50;
  width: 180px;
}

.underline-forgot-password {
  border-bottom: double 6px #ff7f50;
  width: 360px;
}

.underline-resetting-password {
  border-bottom: double 6px #ff7f50;
  width: 330px;
}

/* フォーム */
.error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/*  投稿の幅 */
.post-width {
  width: 88%;
}

/* ヘッダーのロゴのサイズ */
.logo-size {
  width: 100px;
  height: 40px;
}

/* アイコンのサイズ */
.icon-size-50px {
  width: 50px;
  height: 50px;
}

.icon-size-100px {
  width: 100px;
  height: 100px;
}

/* フォントサイズ*/
.font-17px{
  font-size: 17px;
}

.font-20px{
  font-size: 20px;
}

/* パディング */
.pt-60px {
  padding-top: 60px;
}

/*  マージン */
.mt-5px {
  margin: 5px 0 0 0;
}

.mt-10px {
  margin: 10px 0 0 0;
}

.mt-20px {
  margin: 20px 0 0 0;
}

.mt-30px {
  margin: 30px 0 0 0;
}

.mt-40px {
  margin: 40px 0 0 0;
}

.mt-50px {
  margin: 50px 0 0 0;
}

.mt-60px {
  margin: 60px 0 0 0;
}

.mt-70px {
  margin: 70px 0 0 0;
}

.mt-80px {
  margin: 80px 0 0 0;
}

.mt-90px {
  margin: 90px 0 0 0;
}

.mt-100px {
  margin: 100px 0 0 0;
}

.ml-20px {
  margin: 0 0 0 20px;
}

.ml-40px {
  margin: 0 0 0 40px;
}

.ml-60px {
  margin: 0 0 0 60px;
}

.ml-900px {
  margin: 0 0 0 900px;
}

/* その他 */
.section {
  overflow: auto;
}

.textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

