<div>
    <h1>Connectとは・・・</h1>
    <p>日々の頑張りを共有してモチベーションを上げるサービスです！</p>
    <p>今日の取組みや成果について投稿することで、あなたの頑張りを共有できます。</p>
    <p>他の方の「頑張り」にコメントをしたり、いいねを送ることができます。</p>
    <p>さっそく投稿をしてモチベーションを上げてみましょう！</p>
</div>